* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Colors
$city-color-white: #ffffff;
$city-color-red: #d12420;
$city-color-gray: #63666a;
$city-color-white-gray: #e8e8e8;
$city-color-black: #000;

// Gradients
$city-gradient-red: linear-gradient(to right, #e10f21, #930d18);

// Transitions
$city-event-transition: all 0.3s linear;

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $city-color-white-gray;
  color: $city-color-gray;
}

// Scrollbar
::-webkit-scrollbar-thumb {
  background-color: $city-color-gray;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}