* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Colors
$city-color-white: #ffffff;
$city-color-red: #d12420;
$city-color-gray: #63666a;
$city-color-white-gray: #e8e8e8;
$city-color-black: #000;

// Transition
$city-event-transition: all 0.3s linear;

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $city-color-white-gray;
  color: $city-color-gray;
}